<h3>{{question.content}}</h3>

<div>
    <a href="/answer/{{question.id}}/no"><button>SAI / KO</button></a>
    <a href="/answer/{{question.id}}/yes"><button>DUNG / CO</button></a>
</div>

<div>
    {{!-- cho params --}}
    <a href="/question/{{question.id}}"><button>Ket qua vote</button></a>

    {{!-- cho query --}}
    {{!-- <a href="/question?questionId={{question.id}}"><button>Ket qua vote</button></a> --}}

    <a href="/"><button>Cau hoi khac </button></a>
</div>